name: Daily Script Execution

on:
  schedule:
    - cron: "15 0 * * *"  # Runs at midnight every day
  workflow_dispatch:     # Allows manual triggering of the workflow

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.4'  # Replace with your Python version if needed

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m pip install nltk
          
      - name: Download NLTK resources
        run: |
          python -c "import nltk; nltk.download('punkt'); nltk.download('stopwords')"

      - name: Run script
        run: python main.py
      
      
      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add dataset.csv
          git commit -m "Update dataset.csv via GitHub Actions" || echo "No changes to commit"
          git push https://x-access-token:${{ secrets.PERSONAL_ACCESS_TOKEN }}@github.com/hasan221b/Qafza_task_etl_pipline.git
